{%extends 'base.html' %}
{%block title%}Contact{%endblock title%}

{%block contactactive%} active {%endblock contactactive%}
{% block content %}
<h3 class="d-flex align-items-center justify-content-center mt-2">Contact Us!</h3>
<form method="post" enctype="multipart/form-data" class="form-group rounded p-3 shadow-lg">
    {% csrf_token %}
    <label for="name">Your Name:</label>
    <input class="form-control" type="text" id="name" name="name" required><br>
    <label for="email">Your Email:</label>
    <input class="form-control" type="email" id="email" name="email" required><br>
    <label for="message">Message:</label><br>
    <textarea class="form-control" id="message" name="message" cols="40" rows="3" required></textarea><br>
    <label for="file_path">Attachment (If Any):</label>
    <input class="form-control" type="file" id="file_path" name="file_path"><br>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock content%}