{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}
{% block content %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <!-- Carousel -->
    <div class="carousel-inner rounded-5 shadow mt-2" style="height: 32rem; width: auto;">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://images.pexels.com/photos/9627169/pexels-photo-9627169.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://cdn.pixabay.com/photo/2021/12/07/05/54/popcorn-6852316_1280.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.pexels.com/photos/7915357/pexels-photo-7915357.jpeg" class="d-block w-100" alt="...">
        </div>
    </div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Center Heading and Section Below -->
<div class="px-4 my-4 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">Centered Heading</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae corporis, minus natus porro nesciunt neque inventore assumenda sint impedit eaque ea ab quasi reiciendis id deleniti animi sunt nostrum!</p>
    </div>
</div>
<!-- Marketing messaging and featurettes -->
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="https://cdn.pixabay.com/photo/2016/11/21/12/51/mobile-phone-1845233_1280.jpg" class="rounded-circle" alt="Placeholder" width="150" height="150">
            <h2 class="fw-normal">Heading 1</h2>
            <p>Some representative placeholder content for the first column of text below the carousel.</p>
            <button type="button" class="btn btn-dark btn-lg px-4 me-sm-3 fw-bold" onclick="window.location.href='/stream';">Stream</button>
        </div>
        <div class="col-lg-4">
            <img src="https://cdn.pixabay.com/photo/2014/08/15/06/16/imprint-418594_1280.jpg" class="rounded-circle" alt="Placeholder" width="150" height="150">
            <h2 class="fw-normal">Heading 2</h2>
            <p>Another exciting bit of representative placeholder content for the second column.</p>
            <button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold" onclick="window.location.href='/about';">About</button>
        </div>
        <div class="col-lg-4">
            <img src="https://cdn.pixabay.com/photo/2015/01/25/21/02/phone-612061_1280.jpg" class="rounded-circle" alt="Placeholder" width="150" height="150">
            <h2 class="fw-normal">Heading 3</h2>
            <p>The third column of representative placeholder content for the carousel section.</p>
            <button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold" onclick="window.location.href='/contact';">Contact</button>
        </div>
    </div>
<!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="https://cdn.pixabay.com/photo/2021/02/10/13/35/tablet-6002100_1280.jpg" class="featurette-image img-fluid mx-auto" alt="Placeholder Image" width="300" height="200">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://cdn.pixabay.com/photo/2021/10/11/17/37/smartphone-6701409_1280.jpg" class="featurette-image img-fluid mx-auto" alt="Placeholder Image" width="300" height="200">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="https://cdn.pixabay.com/photo/2024/05/15/20/44/app-8764508_1280.jpg" class="featurette-image img-fluid mx-auto mb-4" alt="Placeholder Image" width="300" height="200">
        </div>
    </div>
</div>
{% endblock content %}