channels==4.2.2
channels_redis==4.2.1
daphne==4.1.2
Django==5.2
django-allauth==65.7.0
django-debug-toolbar==5.1.0
django-import-export==4.3.7
django-unfold==0.55.1
pillow==11.1.0
psycopg==3.2.6
psycopg-binary==3.2.6
PyJWT==2.10.1
python-dotenv==1.1.0
redis==5.2.1
requests==2.32.3
setuptools==78.1.0
Twisted==24.11.0
