{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://img.freepik.com/premium-vector/video-icon-isolated-transparent-background_967740-1951.jpg">
    <title>VidStream | {% block title %} {% endblock title%}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/">
                <img src="https://img.freepik.com/premium-vector/video-icon-isolated-transparent-background_967740-1951.jpg" width=auto height="50" class="d-inline-block align-text-mid me-2 rounded-circle">VidStream</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link {%block homeactive%} {%endblock homeactive%} aria-current="page" href="/home/">Home</a></li>
                    <li class="nav-item"><a class="nav-link {%block streamactive%} {%endblock streamactive%}" href="/stream/">Stream</a></li>
                    <li class="nav-item"><a class="nav-link {%block aboutactive%} {%endblock aboutactive%}" href="/about/">About</a></li>
                    <li class="nav-item"><a class="nav-link {%block contactactive%} {%endblock contactactive%}" href="/contact/">Contact</a></li>
                </ul>
                <form method="get" action="/search/" class="d-flex">
                    <input class="form-control me-2" placeholder="Search" aria-label="Search" name="query" id="search">
                    <button class="btn btn-outline-light me-2" type="submit">Search</button>
                </form>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'signout' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-light">Sign Out</button>
                </form>
                {% else %}
                <button type="button" class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</button>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</button>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Displaying Django Messages -->
    {% for message in messages %}
    <div class="alert alert-dark alert-dismissible fade show mt-2" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Sign In Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="signInModalLabel">Sign In</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Sign In Form -->
                    <form method="POST" action="{% url 'signin' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.GET.next|default:request.path }}">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username or Email</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-dark flex-grow-1 m-2">Sign In</button>
                            <a href="{% provider_login_url 'github' %}" class="btn btn-outline-dark flex-grow-1 m-2">Sign In with GitHub</a> 
                            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark flex-grow-1">Sign In with Google</a> 
                        </div>           
                    </form>
                    <p>Don't have an Account? <a class="btn btn-link pt-0" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="signUpModalLabel">Sign Up</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Sign Up Form -->
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.GET.next|default:request.path }}">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username (lowercase & Alphanumeric)" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-dark m-2">Sign Up</button>
                            <a href="{% provider_login_url 'github' %}" class="btn btn-outline-dark flex-grow-1 m-2">Sign Up with GitHub</a>                    
                            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark flex-grow-1">Sign Up with Google</a>
                        </div>
                    </form>
                    <p>Already have an Account? <a class="btn btn-link pt-0" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Content from Respective Webpage -->
    <div class="container pt-2">
        {% block content %} {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 border-top mt-auto bg-dark text-white">
        <p class="col-md-4 mb-0 text-white">© 2025 VidStream, Inc</p>
        <a class="navbar-brand" href="/home/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
            <img src="https://img.freepik.com/premium-vector/video-icon-isolated-transparent-background_967740-1951.jpg" width="auto" height="50" class="d-inline-block align-text-mid me-2 rounded-circle">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/home/" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="/stream/" class="nav-link px-2 text-white">Stream</a></li>
            <li class="nav-item"><a href="/about/" class="nav-link px-2 text-white">About</a></li>
            <li class="nav-item"><a href="/contact/" class="nav-link px-2 text-white">Contact</a></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>